<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="stylesheet" href="{% static 'css/acustom.scss' %}">
<title>{% block title %}Shiatsu Shane — Relax, Restore, Renew{% endblock %}</title>
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% block head_extra %}{% endblock %}
</head>
<body>
{% include 'components/topbar.html' %}
{% include 'components/navbar.html' %}

{% block content %}
{% endblock %}

    {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <div class="toast bg-danger show align-items-center position-fixed bottom-0 end-0 z-3" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body text-light">
                {{message}}
            </div>
            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
    {% endif %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <div class="toast bg-success show align-items-center position-fixed bottom-0 end-0 z-3" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body text-light">
                {{message}}
            </div>
            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
    {% endif %}
    {% endfor %}

{% include 'pages/Register.html' %}
{% include 'pages/Login.html' %}



<script src="{% static 'js/site.js' %}"></script>
{% block scripts_extra %}{% endblock %}
</body>
<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
</html>