$white: #ffffff;

$important: "!important";

$theme-colors: (
    "light":      #6d749d,
    "dark":       #000300,
    "primary":    #ffcf64,
    "secondary":  #d5a04a,
    "info":       #b26b0b,
    "accent1":    #252524,
    "accent2":    #6c4938,
    "accent3":    #959ccc,
    "success":    #4bad00,
    "warning":    #ffc352,
    "danger":     #f6005d,
);