/* ########## CSS FOR WEBSITE ##########*/

/* ########## NavBar ########## */
nav{
    height: 6rem;
}

/* Custom Bootstrap Classes */
.w-60 {  /* Custom width size for the navbar, paul idea */
    width: 60%!important;
}

.mt-7{
    margin-top: 7em;
}

/* ########## TopBar ########## */
.topbar{
    height: 70px;
    padding-top: 1em; /* center text vertically */
}