{% load static %}
<div class="d-flex justify-content-center col-auto">
    <nav class="navbar navbar-expand-lg navbar-dark position-fixed rounded-pill bg-primary sticky-top w-60 mx-auto mt-5 w-5">
    <div class="container-fluid h-100">
    <img src="{% static 'img/logo.svg' %}" class="h-100" alt="">
        <h1>Shiatsu Shane</h1>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
        <ul class="navbar-nav  mx-auto">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>
        </div>
    </div>
    </nav>
</div>